$mainColor: #15023a;

$width: 768px;

$smaller: 330px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
};

@mixin mobile-smaller {
    @media (max-width: #{$smaller}){
        @content
    }
};